
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif; 
    font-family: "Roboto Slab", serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    width: 80%;
    height: 84px;
    margin: auto;
    background-color: white;
}

.container{
    width: 100%;
    height: 62px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 50px;
    line-height: 50px;
    
}

.navbar{
    color: #19566A;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 125%;
    text-decoration: none;
}

.navbar2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

#navi{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 150%; 
    background: linear-gradient(84deg, #327186 21.78%, rgba(0, 0, 0, 0.00) 125.66%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item>a{
    color: #6A6B6C;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.btn{
    display: flex;
    width: 161px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: #F5C362;
    margin-right: 100px;
}

.btn>p{
    color: #190D30;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; 
}

/* second part */

header{
    width: 100%;
    height: 1000px;

    
}

.second{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    width: 45%;
    height: 300px;
    box-sizing: border-box;
}


.left>h6{
    color: #07222C;
    font-family: Karma;
    font-size: 85px;
    font-weight: 700;
    line-height: 125%;
    
}

#edu{
    background: linear-gradient(99deg, #577883 -7.67%, rgba(25, 86, 106, 0.00) 98.87%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Karma;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.left>p{
    transform: rotate(0.214deg);
    color: #565A5B;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
}
.btn2{
    display: inline-flex;
    width: 200px;
    height: 31px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: #F5C362;
}

.btn2>p{
    color: #190D30;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.btn3{
    display: flex;
    width: 200px;
    height: 62px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #309DC1;

}

.btn3>p{
    color: #6A6B6C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.right{
    width: 51%;
    height: 900px;
    border: 2px solid black;
    margin-top: 50px;

}

.right>img{
    width: 100%;
    height: 100%;
}