@media(max-width:992px){
    .container{
        width: 85%;
    }
    .navbar2{
        display: none;
    }
    .right-section{
        display: none;
    }

    .left-section{
        width: 100%;
        text-align: center;
    }

    .btn4{
        margin: auto;
        margin-top: 25px;
        text-align: center;
    }


    .main-section-two{
        flex-direction: column;
        margin-top: 50px;
    }
    .text{
        width: 100%;
        text-align: center;
    }
    .logo-four{
        width: 100%;
    }
    

    .text-three>p{
        width: 60%;
        text-align: center;
    }

    .card{
        width: 100%;
        height: 600px;
        flex-wrap: wrap;
        margin: auto;
    }

    .card-set{
        width: 50%;
        margin: auto;
        margin-top: 40px;
    }

    .main-section-thee{
        width: 100%;
        height: 400px;
        flex-direction: column;
        text-align: center;
    }

    .left-side{
        width: 100%;
        height: 600px;
        margin: auto;
        text-align: center;
    }

    .right-side{
        width: 100%;
        height: 800px;
        padding-top: 100px;
        text-align: center;
        margin: auto;
        padding-right: 80px;
        padding-bottom: 100px;
    }

    .right-side>p{
        text-align: center;
        margin: auto;
    }

    .area{
        margin: auto;
        text-align: center;
    }

}

@media(max-width:576px){
    .container{
        width: 100%;
    }
     
    .first{
        width: 100%;
    }

    .btn{
        display: none;
    }

    .left-section{
        width: 100%;
        text-align: left;
    }

    .btn4{
        margin-left: 0px;
    }


    .main-section-two{
    padding: 0 15px;
    }
    .text{
        text-align: left;
    }

    .logo-four>img{
        width: 85px;
    }

    .card{
        width: 100%;
        height: 1000px;
        text-align: center;
        flex-direction: column;
    }

    .card-set{
        width: 80%;
        text-align: left;
    }

    .right-side{
        width: 100%;
        height: 800px;
        text-align: center;
        padding-bottom: 100px;
    }

    .right-side>h2{
        text-align: center;
    }

    .right-side>p{
        width: 90%;
        
    }

    .area{
        flex-direction: column;
        width: 90%;
        height: 150px;
        margin: auto;
    }

    .area>input{
        width: 100%;
    }

    .btn5{
        width: 100%;
    }



}