*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
}


/* .container{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;

}

.card{
      width: 33.333%;
}

.card>img{
      width: 100%;
      height: 100%;
} */



/* .container{
      width: 60%;
      /* height: 600px; */
      /* background-color: aqua;
      margin: 15px auto;
      display: grid;
      gap: 10px;
      grid-template-rows: repeat(4 ,200px); 
      grid-template-columns: repeat(4,200px); 
      grid-template-areas: "bir bir bir"
                           " iki iki uc"
                           " dord bes uc"
                           "alti alti alti";
       */ 
/* }

.item{
      background-color: blue;
}

.item:nth-child(1){
      grid-area: bir;

}
.item:nth-child(2){
      grid-area: iki;

}
.item:nth-child(3){
      grid-area: uc;

}
.item:nth-child(4){
      grid-area: dord;

}

.item:nth-child(5){
      grid-area: bes;

}
.item:nth-child(6){
      grid-area: alti;

} */



.container{
      width: 300px;
      height: 300px;
      margin: auto;
      position: relative;
      z-index: 1;

}

.container>img{
      width: 100%;
      height: 100%;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFC800;
    opacity: 0;
    font-size: 100px;
    color: white;
    transition: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

}


.container:hover.overlay{
       opacity: 1;
       
      /* transform: scaleY(1); */
}
