@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;

}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #212529;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px 0;
    z-index: 1;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navbar>img{
    width: 80%;
    padding-top: 32px;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li{
    font-size: 16px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    
}

/* first part */

header{
    height: auto;
    min-height: 100vh;
    padding-top: 128px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url(../img/header-bg.jpg);

}

.top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 200px;
    
}

.top>p{
    font-size: 45px;
}
.top>h3{
    font-size: 85px;
    margin-bottom: 48px;
    padding-top: 30px;
}
.top>a{
    width: 260px;
    height: 68px;
    text-decoration: none;
    color: white;
    background-color: #FFC800;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;

 }

/* part second */


.second{
    width: 100%;
    height: 600px;
    text-align: center;
    color: #212529;
    padding: 60px 0;
}

.metin{
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.metin h2{
       font-size: 48px;
       margin-bottom: 15px;
       
}
.metin p{
    font-size: 19px;
    color: #6c757d;
}

.two{
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    text-align: center;
}

.two h4{
    font-size: 29px;
    padding-top: 15px;
}
.two p{
    font-size: 19px;
    padding-top: 15px;
    color: #6c757d;
}

.three>h4{
    font-size: 28px;
}
.two .three>span{
    width: 128px;
    height: 128px;
    margin: auto;
    font-size: 70px;
    border-radius: 50%;
    background-color: #FFC800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}



/* third part */

.third{
    width: 100%;
    height: 1200px;
    background-color: #f8f9fa;
    
}

.metin2{
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.metin2 h2{
       font-size: 48px;
       margin-bottom: 15px;
       
}
.metin2 h3{
    font-size: 19px;
    color: #6c757d;
}

.four{
    width: 80%;
    height: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
}

.item1{
    width: 100%;
    height: 320px;
    position: relative;
    
}

.item1>img{
    width: 100%;
    height: 100%;

}

.metin3>h4{
    font-size: 24px;
    padding-top: 24px;
}

.metin3>p{
    font-size: 16px;
    color: #6c757d;
    padding-top: 10px;
}

.item1::before{
    content: "+";
    width: 100%;
    height: 320px;
    position: absolute;
    background-color: #FFC800;
    opacity: 0;
    font-size: 100px;
    color: white;
    transition: 0.8s;
    line-height: 300px;
    text-align: center;
}


.item1:hover::before{
    opacity: 0.8;
    text-align: center;
}

/* part four */

.five{
    width: 100%;
    height: 1500px;
    box-sizing: border-box;
}   

.metin4{
    text-align: center;
    margin-bottom: 65px;
}

.metin4 h2{
   font-size: 40px;
   padding-top: 100px;
   margin-bottom: 16px;
   
}
.metin4 h3{
font-size: 16px;
color: #6c757d;
margin-bottom: 64px;
}

.six{
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
}

.six::after{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #e9ecef;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}


.ring{
    width: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.ring:nth-child(odd){
    flex-direction: row-reverse;
    text-align: right;
}

.ring:nth-child(odd) .circle{
    margin-right: -80px;
}

.ring:nth-child(even){
    margin-left: auto;
}

.ring:nth-child(even) .circle{
    margin-left: -80px;
}

.circle{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #FFC800;
    border: #e9ecef;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.circle>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #e9ecef;
}

.text{
    width: 60%;
}

.text>h4{
    font-size: 24px;
    margin-bottom: 8px;
}

.text>p{
    font-size: 16px;
    color: #6c757d;
    font-size: 16px;
}

/* part five */


.seven{
    width: 100%;
    height: 850px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.metin5{
    text-align: center;
    margin-bottom: 65px;
}

.metin5 h2{
   font-size: 40px;
   padding-top: 100px;
   margin-bottom: 15px;
   
}
.metin5 h3{
font-size: 16px;
color: #6c757d;
}


.eight{
    width: 80%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.meta{
    width: 33.33%;
    height: 360px;
}

.meta2{
    width: 224px;
    height: 224PX;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.meta2>img{
    width: 100%;
    height: 100%;
    border: 5px solid #e9ecef;
    border-radius: 50%;
}

.meta2>h4{
    font-size: 24px;
    margin-top: 24px;
}

.meta2>p{
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
}


.meta3>a{
    width: 40px;
    height: 40px;
    background-color: #212529;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 8px 50px 8px;
    position: relative;
}

.metin6{
    width: 50%;
    height: 60px;
    margin: auto;
    font-size: 16px;
    margin-top: 150px;
    text-align: center;
    color: #6c757d;
    box-sizing: border-box;
    
}

/* part six */

.eight{
    width: 100%;
    height: 173px;
}

.lg{
    width: 80%;
    height: 76px;
}

.box{
    width: 80%;
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logos>a>img{
    width: 65%;
    height: 100%;
    margin: auto;
}


/* part seven */

.nine{
    width: 100%;
    height: 720px;
    padding-top: 5px;
    background-color: #212529;
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.metin6>h2{
    font-size: 40px;
    padding-bottom: 16px;
    color: white;
}

.metin6>h3{
    font-size: 16px;
    margin-bottom: 64px;
    color: #6c757d;
}

.ten{
    width: 80%;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding-top: 64px;
    
}

.form{
    width: 45%;
    position: relative;
    background-color: white;
    margin:0 auto 30px;
    border-radius: 10px;
    
}

.form label{
    position: absolute;
    left: 0;
    font-size: 16px;
    top: 20px;
    text-align: center;
}

.form input{
    width: 100%;
    padding: 20px 0;
    font-size: 15px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    opacity: 0.5;
    padding-left: 15px;
    
}

.form>textarea{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    font-weight: bold;
    opacity: 0.5;
    padding: 15px 15px;
    font-size: 15px;
}

#btn3{
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #FFC800;
    color: white;
    font-size: 20px;
    opacity: 0.65;
    font-weight: bold;
    border-radius: 10px;

}

/* part eight */

.eleven{
    width: 100%;
    height: 90px;
    text-align: center;
}

.foot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding-top: 30px;
    
}

#id{
    font-size: 14px;
    color: #212529;
}

.meta4{
    width: 40px;
    height: 40px;
    background-color: #212529;
    border-radius: 50%;
    padding-top: 10px;

}

.meta4>a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    
}

.meta4:hover{
    background-color: #424649;
}

.metin7>a{
    font-size: 14px;
    color: #212529;
    text-decoration: none;
    padding-left: 10px;
}
